@charset "UTF-8";

* {
    box-sizing: border-box;
}

/* paddingとborderを幅と高さに含める */

body {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
    line-height: 1.8;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* リセット */
body,
h1,
h2,
h3,
p,
ul,
li,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

/* googleフォント */
.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* body */
body {
    background: linear-gradient(-45deg, #5c2952, #2a3d5b);
    min-height: 100vh;
}

/* header */
header {
    width: 100%;
    display: flex;
    padding: 30px 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* ロゴ */
.logo-wrapper {
    display: flex;
    width: 150px;
    align-items: center;
}

/* 検索窓 */
.search-box {
    display: flex;
    align-items: center;
    width: calc(100% / 2.5);
    height: auto;
    border-radius: 100px;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 5px 0;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

#search {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#search:focus {
    outline: none;
}

.search-box i {
    color: #ffffff;
    margin-right: 1em;
}

::placeholder {
    color: #ffffff;
    opacity: 1;
}

input {
    caret-color: white;
}

input[type="text"] {
    color: white;
}

/* 検索窓フォーカス時 */
@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-hidden-box {
    min-height: 80vh;
    animation: 0.5s fadeup ease-in-out forwards;
}

.search-hidden-box hr {
    width: calc(100% / 2.5);
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 2px;
    border: none;
}

.search-tag-wrapper {
    display: flex;
    width: calc(100% / 2.5);
    margin: 0 auto;
}

.search-tag-content {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: fit-content;
    color: #61B2FF;
    padding: 3px 15px;
    margin: 0 15px;
}

.search-history-wrapper {
    width: calc(100% / 2.5);
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px;
}

.search-history-content {
    display: flex;
    color: white;
    align-items: center;
    margin-bottom: 10px;
}

.search-history-content p {
    margin-left: 10px;
}

/* ヘッダーアイコン */
.icon-wrapper {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    padding-left: 40px;
}

.icon-wrapper i {
    color: white;
}

/* nav */
.nav-wrapper {
    margin: 0 35px;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 9999;
}

.nav-wrapper:hover .p-none {
    display: block;
}

.nav-wrapper:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10px);
    transition: 0.2s;
}

.icon-box {
    color: white;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.i-wrapper {
    width: 50px;
    aspect-ratio: 1 / 1;
    text-align: center;
    border-radius: 20px;
}

.i-wrapper i {
    line-height: 50px;
}

@keyframes poyo {

    from,
    to {
        transform: none;
    }

    10% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1.04);
    }

    80% {
        transform: scale(.98);
    }
}

.i-wrapper:hover {
    animation: poyo .6s ease 0s 1 normal running none;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.1s;
}

.i-wrapper .active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.p-none {
    display: none;
    margin-left: 10px;
}

/* フッター */
.footer-wrapper {
    margin-top: 120px;
}

.footer-wrapper hr {
    width: calc(100% / 3);
}

.footer-copy-wrapper {
    height: 100px;
}

.footer-wrapper p {
    text-align: center;
    line-height: 100px;
    color: white;
}

.hidden {
    display: none;
    pointer-events: none;
}

.hidden-header {
    opacity: 0;
    pointer-events: none;
}