.product-detail-wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.product-detail-thumbnail {
    width: 450px;
    aspect-ratio: 1 / 1;
    background: linear-gradient(-45deg, #67D944, #CFCD85);
    border-radius: 30%;
    text-align: center;
    width: 450px;
    border: none;
    container-type: inline-size;
    margin: 25px;
}

.product-detail-thumbnail i {
    line-height: 450px;
    font-size: 20cqw;
    color: white;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 30%;
    border: none;
}

.product-detail-right {
    width: 500px;
    padding: 20px;
    color: white;
}

.trial-listening {
    display: flex;
    align-items: center;
}

.puroduct-detail-button-container {
    display: flex;
    flex-direction: column;
}

.product-detail-explanation p {
    font-size: small;
    color: rgb(210, 210, 210);
}