.product-detail-user-wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-detail-user {
    display: flex;
}

.product-detail-user .user-icon i{
    width: 50px;
    aspect-ratio: 1 / 1;
    line-height: 50px;
    font-size: 45px;
    color: white;
}

.user-name-wrapper {
    margin-left: 10px;
}

.user-name-wrapper .user-name{
    line-height: 35px;
    font-size: 20px;
    color: white;
}

.user-name-wrapper .user-id {
    line-height: 15px;
    font-size: small;
    color: rgba(255, 255, 255, 0.7);
}

.product-detail-follow {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    font-size: 15px;
    line-height: 40px;
    padding: 0 30px;
}

.product-detail-hr {
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    height: 2px;
    margin: 20px auto 30px;
}

.product-detail-wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.product-detail-thumbnail {
    width: 450px;
    aspect-ratio: 1 / 1;
    background: linear-gradient(-45deg, #67D944, #CFCD85);
    border-radius: 30%;
    text-align: center;
    width: 450px;
    border: none;
    container-type: inline-size;
    margin: 25px;
}

.product-detail-thumbnail i {
    line-height: 450px;
    font-size: 20cqw;
    color: white;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 30%;
    border: none;
}

.product-detail-right {
    width: 500px;
    padding: 20px;
    color: white;
}

.product-detail-icon-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product-detail-icon {
    font-size: 14px;
    line-height: 14px;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    border-radius: 15px;
    color: white;
}

.trial-listening {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    background-color: transparent;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 15px;
}

.trial-listening i {
    margin-left: 5px;
}

.puroduct-detail-button-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin: 10px 0;
}

.puroduct-detail-button-container button {
    border: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 20px;
    width: 220px;
}

.puroduct-detail-button-container button:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.puroduct-detail-button-container button i {
    padding-top: 10px;
}

.product-detail-explanation {
    margin-top: 30px;
}

.product-detail-explanation p {
    font-size: small;
    color: rgb(234, 234, 234);
}

.detail-i-hover:hover {
    border: 1px solid rgba(255, 255, 255, 0);
}

.product-detail-back {
    width: 1000px;
    margin: 0 auto;
}

.product-detail-back a p {
    color: white;
}