{% extends 'base.html' %}

{# title #}
{% block title %}Home{% endblock %}

{# head #}
{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.css') }}">
{% endblock %}

{% block content %}
<div class="toggle-button-wrapper">
    <p class="select-button">Music</p>
    <p>Material</p>
</div><!-- end toggle-button-wrapper -->

<div class="music-swiper">
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for i in range(10) %}
            <div class="swiper-slide"><i class="fa-solid fa-music"></i></div>
            {% endfor %}
        </div><!-- end swiper-wrapper -->
    </div><!-- end swiper -->
    <div class="swiper-pagination"></div>
</div><!-- end music-swiper -->

<div class="top-list-wrapper">

    <div class="music-list-recommendation-wrapper">
        <h2>おすすめ</h2>

        <a href="{{ url_for('music_list') }}">
            <div class="music-list-recommendation-viewmore">
                <p>ViewMore</p>
                <p>⇀</p>
            </div><!-- end music-list-recommendation-viewmore -->
        </a>

    </div><!-- end music-list-recommendation-wrapper -->

    <div class="music-list">

        {% for user in users %}

        <div class="music-list-content icon-hover">
            <div class="music-list-thumbnail">
                <i class="fa-solid fa-music icon-toggle"></i>
            </div><!-- end music-list-thumbnail -->
            <div class="music-list-character-wrapper">
                <div class="music-list-character">
                    <p class="music">{{ user.music }}</p>
                    <a href="" class="link-icon"><i class="fa-solid fa-cart-shopping"></i></a>
                    <div class="fukidashi">商品ページへ行く</div>
                </div><!-- end music-list-character -->
                <div class="music-list-character-small">
                    <p class="name">{{ user.name }}</p>
                    <p class="price">¥{{ user.price }}</p>
                </div><!-- end music-list-character-small -->
            </div><!-- end music-list-character -->
        </div><!-- end music-list-content -->

        {% endfor %}

    </div><!-- end music-list -->

</div><!-- end top-list-wrapper -->



<div class="top-list-wrapper">

    <div class="music-list-recommendation-wrapper">
        <h2>おすすめユーザー</h2>
    </div><!-- end music-list-recommendation-wrapper -->

    <div class="user-list">

        {% for i in range(7) %}
        <a href="">
            <div class="user-list-content">
                <div class="user-icon-wrapper">
                    <i class="fa-solid fa-circle-user"></i>
                    <p>ユーザー名</p>
                </div><!-- end user-icon-wrapper -->
                <div class="user-follow-wrapper">
                    <p>フォロー</p>
                </div><!-- end user-follow-wrapper -->
            </div><!-- end user-list-content -->
        </a>
        {% endfor %}

    </div><!-- end user-list -->
</div><!-- end top-list-wrapper -->

<div class="hidden-play-content-wrapper play-hidden">
    <div class="play-content-left play-width">
        <div class="play-thumbnail">
            <i class="fa-solid fa-music icon-toggle"></i>
        </div><!-- end play-thumbnail -->
        <div class="play-character">
            <p class="play-music">曲名</p>
            <p class="play-name">作曲者名</p>
        </div>
    </div>
    <div class="play-content-center play-width">
        <i class="fa-solid fa-backward-step step-icon"></i>
        <i class="fa-solid fa-pause pause-icon"></i>
        <i class="fa-solid fa-forward-step step-icon"></i>
    </div>
    <div class="play-content-right play-width">
        <i class="fa-solid fa-repeat"></i>
        <i class="fa-solid fa-shuffle"></i>
    </div>
</div><!-- end hidden-play-content-wrapper -->

<!-- js -->
<script src="{{ url_for('static', filename='js/swiper.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}