{% extends 'base.html' %}

{# title #}
{% block title %}Music_make{% endblock %}

{# headに追加要素あれば #}
{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/product-detail.css') }}">
{% endblock %}

{# 中身 #}
{% block content %}
<div class="product-detail-user-wrapper">
    <div class="product-detail-user">
        <div class="user-icon"><i class="fa-solid fa-circle-user"></i></div>
        <div class="user-name-wrapper">
            <div class="user-name">{{ product.name }}</div>
            <div class="user-id">＠{{ product.id }}</div>
        </div><!-- end user-name-wrapper -->
    </div><!-- end product-detail-user -->

    <div class="product-detail-follow">
        <p>フォローする</p>
    </div>
</div><!-- end product-detail-user-wrapper -->

<hr class="product-detail-hr">

<div class="product-detail-wrapper">
    <div class="product-detail-thumbnail">
        <i class="fa-solid fa-music"></i>
    </div><!-- end product-detail-thumbnail -->
    <div class="product-detail-right">
        <h2>{{ product.music }}</h2>
        <p>¥{{ product.price }}</p>

        <div class="product-detail-icon-wrapper">
            <i class="fa-regular fa-heart product-detail-icon i-wrapper-hover detail-i-hover"></i>
            <i class="fa-regular fa-message product-detail-icon i-wrapper-hover detail-i-hover"></i>

            <button class="trial-listening i-wrapper-hover detail-i-hover">
                <p>試聴</p>
                <i class="fa-solid fa-circle-play"></i>
            </button><!-- end trial-listening -->
        </div><!-- end product-detail-icon-wrapper -->

        <form id="add-to-cart-form" method="POST" action="">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <div class="puroduct-detail-button-container">
                <button type="submit" name="action_type" value="add_to_cart" id="add-to-cart-btn">
                    <p>カートに入れる</p>
                    <i class="fa-solid fa-cart-plus"></i>
                </button>

                <button type="submit" name="action_type" value="buy_now" id="buy-now-btn" formaction="{{ url_for('buy_now', product_id=product.id) }}">
                    <p>すぐに買う</p>
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </form>

        <div class="product-detail-explanation">
            <p>{{ product.comment }}</p>
        </div><!-- end product-detail--explanation -->
    </div><!-- end product-detail-right -->
</div><!-- end product-detail-wrapper -->

<div class="product-detail-back">
    <a href="{{ url_for('home') }}">
        <p>↼　back</p>
    </a>
</div><!-- end product-detail-back -->
{% endblock %}